/* Reset default margin and padding for body and html */
html, body {
    margin: 0; /* Removes default margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body stretches to full viewport height */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    font-family: Arial, Helvetica, sans-serif; /* Example: Setting font family */
    font-size: 16px; /* Example: Setting font size */
    color: white; /* Example: Setting text color */
}

html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: #000000; /* Sets background color */
    color: #ffffff; /* Sets text color */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    padding: 0.6rem 1rem; /* Adds padding */
   
}

#navbar .title {

    margin: 0; /* Remove default margin */
    margin-left: 50px;
    background: linear-gradient(to right, #ffdc48, #ffeb95);
    /* Clip background to text */
    -webkit-background-clip: text; background-clip: text;
    color: transparent;

}

#navbar nav ul {
    list-style-type: none; /* Removes default list styles */
    display: flex; /* Use flexbox for layout */
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
    margin-right: 60px;
    gap: 13px;
}


#navbar nav ul li a {
    color: transparent; /* Make text color transparent */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Sets font weight */
    /* Apply linear gradient background */
    background: linear-gradient(to right, #ffdc48, #ffeb95);
    /* Clip background to text */
    -webkit-background-clip: text; background-clip: text;
    margin-right: 80px;
}

#navbar nav ul li a:hover {
    color: #ffffff; /* Changes link color on hover */
}

main {
    flex: 1; /* Ensures main content fills remaining space */
    padding: 20px; /* Adds padding to main content */
}

.gallery {
    display: flex; /* Use flexbox for gallery layout */
    flex-wrap: wrap; /* Allows items to wrap onto new lines */
    gap: 20px; /* Adds space between items */
}

.gallery-item {
    width: 380px; /* Fixed width for each item */
    height: 300px; /* Fixed height for each item */
    margin: 10px; /* Adds margin around each item */
}

.gallery-item img {
    width: 100%; /* Ensures image fills its container */
    height: 100%; /* Ensures image fills its container */
    object-fit: fill; /* Ensures image fits within its container without cropping */
    margin-top: 15px;
    margin-left: 75px;
}

footer {
    background: #000000;
    width: 100%; /* Full width of the viewport */
    height: 105px; /* Adjust the height as per your design */
    display: flex;
    justify-content: space-between; /* Distribute content evenly */
    align-items: center; /* Center align items vertically */
    padding: 30px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.container {
    width: 100%; /* Ensures the container stretches across the viewport */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    color: transparent;
    background: linear-gradient(to right, #ffdc48, #ffeb95);
    /* Clip background to text */
    -webkit-background-clip: text; background-clip: text;
}

.footer-content {
    flex-direction: column;
    line-height: 10pt;
}

.footer-copy {
    text-align: center;
    margin-right: 265px;
    margin-top: 5px;
}

.social-icon {
    width: 30px; /* Set width of the icon */
    height: 30px; /* Set height of the icon */
    margin-top: 15px;
}
